@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: #f4f7fa;
  color: #424242;
  font-family: 'Noto Sans', sans-serif !important;
}

.mat-drawer {
  background-color: #f4f7fa !important;
}

.mat-drawer-content {
background-color: #f4f7fa !important;
}
